html { 
	background: #0099FF;
  background: url('linear-gradient.png') 0 0 repeat-x;
  background: -moz-linear-gradient(top, #FFFFFF, #0099FF);
  background: -ms-linear-gradient(top, #FFFFFF, #0099FF);
  background: -o-linear-gradient(top, #FFFFFF, #0099FF);
  background: -webkit-linear-gradient(top, #FFFFFF, #0099FF);
  background: linear-gradient(top, #FFFFFF, #0099FF);
  height: 100%;
}
body {
	color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	height:100%;
	background-repeat: no-repeat;
    background-attachment: fixed;	
}
@font-face {
	font-family: 'ultraregular';
	src: url('../fonts/ultra-webfont.eot');
	src: url('../fonts/ultra-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ultra-webfont.woff') format('woff'),
	url('../fonts/ultra-webfont.ttf') format('truetype'),
	url('../fonts/ultra-webfont.svg#ultraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvobold';
	src: url('../fonts/arvo-bold-webfont.eot');
	src: url('../fonts/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arvo-bold-webfont.woff') format('woff'),
	url('../fonts/arvo-bold-webfont.ttf') format('truetype'),
	url('../fonts/arvo-bold-webfont.svg#arvobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvoregular';
	src: url('../fonts/arvo-regular-webfont.eot');
	src: url('../fonts/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/arvo-regular-webfont.woff') format('woff'),
	url('../fonts/arvo-regular-webfont.ttf') format('truetype'),
	url('../fonts/arvo-regular-webfont.svg#arvoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img {
	border: 0;
}
p {
	line-height: 24px;
	margin: 0; 
}
p a{
	color: #0099FF;
}
p a:hover,
#body div h2 a:hover,
#body div div#home div.news h4 a:hover,
#body div #newsblog ul li div h3 a:hover,
#body div #surfbase h3 a:hover,
p a.more:hover {
	color: #ffc000;
}
p a.more {
	color: #0099FF;
	font-size: 12px;
	text-decoration: none;
}
#header {
	height: 147px;
	margin: 0 auto;
	padding: 39px 10px 0;
	width: 940px;
}
#header a img,
#body div #about div div.figure img,
#body div #contact div form label {
	display: block;
}

#body {
}
#body > div {
	background: #FFFFFF;
	margin: 0 auto;
	overflow: hidden;
	padding: 47px 10px;
	width: 940px;
}
#body div #navigation {
	font-family: 'arvobold';
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div #navigation li a {
	color: #d1d3d4;
	display: inline-block;
	height: 60px;
	line-height: 64px;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width:100%;
}
#body div #navigation li a.link1 {
	background: #0099CC;
}
#body div #navigation li a.link2 {
	background: #006699;
}
#body div #navigation li.current a {
	background: #d1d3d4;
	color: #02164d;
}
#body div #navigation li.current a:hover {
	color: #02164d;
}
#body div #navigation li a:hover {
	color: #fff799;
}
#body div div#home,
#body div div#surfbase,
#body div div#newsblog,
#body div div#about,
#body div div#contact {
	float: right;
	width: 700px;
}
#body div h1 {
	background:#0099FF;
	color: #ffffff;
	font-family: 'ultraregular';
	font-size: 60px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
}
#body div h1 span {
	text-transform: uppercase;
}
#footer {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}

#footer > div {
	overflow: hidden;
	padding: 45px 0 0;
}
#body div #contact h3 {
	line-height: 24px;
}
#footer > p {
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	font-size: 12px;
	line-height: 20px;
	padding: 47px 0 29px;
	text-align: center;
	word-spacing:10px;
}
#footer p a{
	word-spacing:0px;
	font-weight:bold;
	color: #FFFFFF;
}
