{% extends "main.html" %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
		$("#navsecond").addClass("active");
		$("#navssecond").addClass("active");
})
</script>

{% endblock %}
{% block maincontent %}

<div class="article">
	<h2><span><strong>About Billy Air-Conditioning &amp; Electrical Engineering</strong></span></h2>
	<div class="clr"></div>        
	<div class="clr"><img src="/images/images_1.jpg" width="613" height="193" alt="we offer very affordable and reliable professional service for both residential and industrial customers" /></div>
	<p><strong>Started since April 2006 and has over 6 years of experience in the air-conditioning servicing industry cross Singapore.</strong></p>
	<p>Beginning  as an air condition sub contractor providing air conditioner maintenance  services. Now, we offer air-conditioning servicing, maintenance and repair facilities for all types of residential &amp; commercial air conditioners related services with  quality service and prompt response time for all our valued customers at very competitive prices.</p>
</div>
<div class="article">
	<h2><span><strong>Our</strong></span><strong> Mission</strong></h2>
	<div class="clr"></div>
	<div class="clr"><img src="/images/mission.jpg" width="613" height="262" alt="we offer very affordable and reliable professional service for both residential and industrial customers" /></div>
	<p> <strong>To ensure a cleaner and healthier air quality for our valuable customers</strong>.</p>
	<p>
	Billy Air-Conditioning &amp; Electrical Engineering  highly  experienced technicians will ensure every part of the customer air-conditioner is in its top working condition through quality air-conditioning servicing 			and maintenance. We will offer the most affordable and reliable professional service to our valuable customers with ethics and professionalism.
    </p>
</div>
<div class="article">
        <h2><span><strong>Partners</strong></span></h2>
        <div class="clr"></div>
          <img src="/images/logo/Mitsubishi.jpg" width="95" height="40" alt="Mitsubishi logo" />&nbsp;
          <img src="/images/logo/DAIKIN.jpg" width="134" height="33" alt="DAIKIN logo" />&nbsp;
          <img src="/images/logo/SANYO.jpg" width="125" height="40" alt="SANYO logo" />&nbsp;
          <img src="/images/logo/Toshiba.jpg" width="143" height="41" alt="Toshiba logo" />&nbsp;
          <img src="/images/logo/Carrier.jpg" width="131" height="53" alt="Carrier logo" />&nbsp;
          <img src="/images/logo/Panasonic.jpg" width="145" height="54" alt="Panasonic logo" />&nbsp;
          <img src="/images/logo/YORK.jpg" width="152" height="48" alt="YORK logo" />&nbsp;
          <img src="/images/logo/LG.jpg" width="113" height="58" alt="LG logo" />&nbsp;
          <img src="/images/logo/Samsung.jpg" width="147" height="54" alt="Samsung logo" />&nbsp;
          <img src="/images/logo/Fujitsu.jpg" width="112" height="57" alt="Fujitsu logo" />&nbsp;
      </div>
    
{% endblock %}
