{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyAatrvBOixHV_b6B1ee13soUYBb-7UoFB0" type="text/javascript"></script>
<script type="text/javascript">

    var allEvent=[];
    var geocoder = null;
	var newBookingdetails = {BasicServicing:0,ChemicalWash:0,TopUpGas:"N",CheckAndTroubleshooting:"N",postalCode:null,point:null};
	var distances = [];
	var slotsRequired;
	var chosenRecommendedSlot;

user_var = {
	'email' : "{{ email }}",
	'postalcode': "{{ postalcode }}",
	'address': "{{ address }}"
};

$(document).ready(function(){
	newBookingdetails.postalCode = user_var.postalcode;
	if (GBrowserIsCompatible()) {
			geocoder = new GClientGeocoder();
		  }
		  showAddress(newBookingdetails.postalCode + ", SG", 0);
	$.getJSON('/json', function(data){
	for(var i=0; i<data.schedule.length; i++){
		event={
			'id': i+1,
			'start': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.start),
			'end': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.end),
			'servicetype': data.schedule[i].servicetype,
			'description': data.schedule[i].description,
			'postalcode': data.schedule[i].postalcode,
			'readOnly': data.schedule[i].readonly,
			'email': data.schedule[i].email,
			'type': data.schedule[i].type
			};
		allEvent.push(event);
	}
	});

		$("#navfifth").addClass("active");
		$("#navsfifth").addClass("active");
		
		
		$('#recommend').submit(function(event){
		var advancedays = new Date();
		for(var i=0;allEvent.length>i;i++){
			if(allEvent[i].email == user_var.email && allEvent[i].start.getTime() > advancedays.getTime()){
			alert("Dear Customer, you already have an existing booking with us.");
			return false;
			}
		}
		
		var servicetype = '';
		var basic_serv = document.getElementById("basicservicingquantity").value;
		var chem_wash = document.getElementById("chemicalwashquantity").value;
		slotsRequired = (basic_serv * 15) + (chem_wash * 30);
		
		if(basic_serv>1)servicetype += 'Basic Servicing; ';
		if(chem_wash>1)servicetype += 'Chemical Washing; ';
		
		if(document.getElementById("topupgas").checked){
		slotsRequired += 45;
		servicetype += 'Gas; ';
		}
		if(document.getElementById("checktroubleshoot").checked){
		slotsRequired += 10;
		servicetype += 'Checking. ';
		}
		slotsRequired = Math.ceil(slotsRequired/60);
		console.log(slotsRequired);
		if(slotsRequired == 0){
			alert("Please enter the amount of services required.");
			return false;
		}
		for(var i=0;allEvent.length>i;i++){
			showAddress(allEvent[i].postalcode + ", SG", allEvent[i].id);
		}
		
		
		
		advancedays.setDate(advancedays.getDate() + 5);
		Loop1:
		for(var i=0;distances.length>i;i++){
			if(distances[i].len > 20){
			allEvent[distances[i].id-1].end.setHours(allEvent[distances[i].id-1].end.getHours()+1);
			}
			if((allEvent[distances[i].id-1].end.getHours() + slotsRequired) >= 18){
				continue;
			}
			else{
				for(var i2=0;allEvent.length>i2;i2++){
					if(allEvent[i2].id != distances[i].id && allEvent[distances[i].id-1].start.getHours() < allEvent[i2].start.getHours()){
						if(allEvent[i2].end.toDateString() == allEvent[distances[i].id-1].start.toDateString() && (allEvent[distances[i].id-1].end.getHours() + slotsRequired) > allEvent[i2].start.getHours()){
							continue Loop1; 
						}
					}
				}
				chosenRecommendedSlot = allEvent[distances[i].id-1].end;
				chosenRecommendedSlot.setHours(chosenRecommendedSlot.getHours()+1);
				if(chosenRecommendedSlot.getTime() < advancedays.getTime()){
				chosenRecommendedSlot = null;
				continue;
				}
				else{
				break;
				}
			}
				
		}
		console.log(chosenRecommendedSlot);
		event.preventDefault();
		if(chosenRecommendedSlot == null && distances.length != 0){
			while(chosenRecommendedSlot == null){
				chosenRecommendedSlot = advancedays;
				chosenRecommendedSlot.setHours(9);
				for(var i=0;allEvent.length>i;i++){
					if(allEvent[i].start.toDateString() == chosenRecommendedSlot.toDateString()){
						chosenRecommendedSlot == null;
					}
				}
				advancedays.setDate(advancedays.getDate() + 1);
			}
		}		
		else if(chosenRecommendedSlot != null && distances.length != 0){
			user_var['description'] = document.getElementById("request").value;
			user_var['servicetype'] = servicetype;
			document.getElementById('service').value = servicetype; 
			user_var['rDay'] = chosenRecommendedSlot.getDate();
			document.getElementById('day').value = chosenRecommendedSlot.getDate();
			user_var['rMth'] = chosenRecommendedSlot.getMonth() + 1;
			document.getElementById('mth').value = chosenRecommendedSlot.getMonth() + 1; 
			user_var['rYear'] = chosenRecommendedSlot.getFullYear();
			document.getElementById('year').value = chosenRecommendedSlot.getFullYear(); 
			user_var['rHour'] = chosenRecommendedSlot.getHours();
			document.getElementById('hour').value = chosenRecommendedSlot.getHours(); 
			user_var['rDuration'] = chosenRecommendedSlot.getHours() + slotsRequired;
			document.getElementById('duration').value = chosenRecommendedSlot.getHours() + slotsRequired; 
			$.post("/jsonrecommend", user_var).done(function() {
				$('#recommend').unbind('submit').submit();
			});
			}
			//else{
			//arguments.callee();
			//}
			
	});

})
function showAddress(address, id) {
	if (geocoder) {
		geocoder.getLatLng(
		address,
		function(point) {
			if (point){
				if(newBookingdetails.point == null){
					newBookingdetails.point = point;
				}
				else{
					var distance = CalculateDistance(point,newBookingdetails.point) / 1000;
					//need to push primary key of event also
					distances.push({id:id,len:distance});
					//Sort numerically and ascending
					distances.sort(function(a,b){return a.len - b.len})
					//console.log(point.y + " " + point.x);
				}
			}
			}
		);
	}
}
		
		function CalculateDistance(latlng1, latlng2) {
		  var lat = [latlng1.y, latlng2.y]
		  var lng = [latlng1.x, latlng2.x]
		  var R = 6378137;
		  var dLat = (lat[1]-lat[0]) * Math.PI / 180;
		  var dLng = (lng[1]-lng[0]) * Math.PI / 180;
		  var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
		  Math.cos(lat[0] * Math.PI / 180 ) * Math.cos(lat[1] * Math.PI / 180 ) *
		  Math.sin(dLng/2) * Math.sin(dLng/2);
		  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
		  var d = R * c;
		  return Math.round(d);
		}
</script>

{% endblock %}


{% block maincontent %}

<h1>Type of Service</h1>

<form id="recommend" method="POST" >
<ol>
	<li>
		<label for="serviceType">Basic Servicing :</label>
        <select id="basicservicingquantity">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
     </li>
    <li>
		<label for="serviceType">Chemical Wash:</label>
        <select id="chemicalwashquantity">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
       </select>
     </li>
     <li>
		<label for="serviceType">Top Up Gas:</label>
		<form>
			<input type="radio" name="topup" id="topupgas">Yes<input type="radio" name="topup" checked="checked">No
		</form>
     </li>
     <li>
		<label for="serviceType">Check &amp; Troubleshooting:</label>
		<form>
			<input type="radio" id="checktroubleshoot" name="check">Yes<input type="radio" name="check" checked="checked">No
		</form>
     </li>
     <li>
        <label for="address">Address:</label>
        <input type="text" name="address" value = "{{ address }}" disabled="disabled" size="65"/>
     </li>
     <li>
        <label for="address">Postal Code:</label>
        <input type="text" name="ppostalcode" value = "{{ postalcode }}" disabled="disabled" size="6"/>
        <input type="hidden" name="postalcode" value = "{{ postalcode }}"/>
    </li>
    <li>
		<label for="description">Request</label>
        <textarea id="request" name="description" rows="8" cols="50"></textarea>
        <input type="hidden" name="servicetype" id="service" />
        <input type="hidden" name="rDay" id="day" /> 
        <input type="hidden" name="rMth" id="mth" /> 
        <input type="hidden" name="rYear" id="year" /> 
        <input type="hidden" name="rHour" id="hour" /> 
        <input type="hidden" name="rDuration" id="duration" /> 
    </li>
    <li>
        <input type="submit" value="Proceed" />
    </li>
</ol>
</form>

{% endblock %}


