{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<script type="text/javascript">

user_var = {
	'email' : "{{ email }}",
	'postalcode': "{{ postalcode }}"
};

$(document).ready(function(){
		$('#number').keypress(function(e) {
    		var a = [];
   			var k = e.which;
    
   			for (i = 48; i < 58; i++)
        		a.push(i);
    		a.push(8);
    		if (!(a.indexOf(k)>=0))
        	e.preventDefault();
		});

		$("#navfifth").addClass("active");
		$("#navsfifth").addClass("active");
		
		
		$('#recommend').submit(function(event){
			var servicetype = '';
			bs = document.getElementById("basicservicingquantity").value;
			if(bs>1)servicetype += 'Basic Servicing; ';
			cw = document.getElementById("chemicalwashquantity").value;
			if(cw>1)servicetype += 'Chemical Washing; ';
			if(document.getElementById("topupgas").checked) servicetype += 'Gas; ';
			if(document.getElementById("checktroubleshoot").checked) servicetype += 'Checking. ';
			
			document.getElementById('service').value = servicetype;
			user_var['servicetype'] = servicetype;
			user_var['description'] = document.getElementById("request").value;
			event.preventDefault();
			$.post("/jsonrecommend", user_var).done(function() {
				$('#recommend').unbind('submit').submit();
			});

	});

})

</script>

{% endblock %}


{% block maincontent %}

<h1>Type of Service</h1>

<form id="recommend" method="POST" >
<ol>
	<li>
		<label for="serviceType">Basic Servicing :</label>
        <select id="basicservicingquantity">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="8+">8&lt;</option>
        </select>
     </li>
    <li>
		<label for="serviceType">Chemical Wash:</label>
        <select id="chemicalwashquantity">
          <option value="0" selected>0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="8+">8&lt;</option>
       </select>
     </li>
     <li>
		<label for="serviceType">Top Up Gas:</label>
		<form>
			<input type="radio" name="topup" id="topupgas">Yes<input type="radio" name="topup" checked="checked">No
		</form>
     </li>
     <li>
		<label for="serviceType">Check &amp; Troubleshooting:</label>
		<form>
			<input type="radio" id="checktroubleshoot" name="check">Yes<input type="radio" name="check" checked="checked">No
		</form>
     </li>
     <li>
        <label for="address">Address:</label>
        <input type="text" name="address" class="text" value = "{{ address }}" readonly/>
     </li>
     <li>
        <label for="address">Postal Code:</label>
        <input type="text" name="postalcode" id="number" value = "{{ postalcode }}" readonly/>
    </li>
    <li>
		<label for="description">Request</label>
        <textarea id="request" name="description" rows="8" cols="50"></textarea>
        <input type="hidden" name="servicetype" id="service" />
    </li>
    <li>
        <input type="submit" value="Proceed" />
    </li>
</ol>
</form>

{% endblock %}


