{% extends "main.html" %}

{% block maincontent %}


<h1 style= "text-align:center;">Inventory Management</h1>
<br />
<div class="article" >
			<form action="/admin/inventory" style="text-align:center;" method="post">
            	<img src="/images/warehouse_icon.png" width="92" height="80" alt="store" /><br />
            	<input type="hidden" name="location" value="warehouse">
            	<input type="submit" value="Store">
            </form>
            <br />
            <br />
            <form action="/admin/inventory" style="text-align:center;" method="post">
            	<img src="/images/item_icon.png" width="92" height="80" alt="item" /><br />
            	<input type="hidden" name="location" value="item">
            	<input type="submit" value="Item">
            </form>
</div>

{% endblock %}
