{% extends "main.html" %}

{% block title %}Inventory Management{% endblock %}

{% block script %}
<script type="text/javascript">

var allitem=[];
var item={};

{% for mainItem in mainItemList %}
item={
	'Type': "{{ mainItem.0.Type }}",
	'Name': "{{ mainItem.0.Name }}",
	'Description': '{{ mainItem.0.Description|safe }}',
	'Price': "{{ mainItem.0.Price }}",
	'Quantity': "{{ mainItem.0.Quantity }}",
	'Store': "{{ mainItem.0.Store }}"
};
allitem.push(item);
{% endfor %}

$(document).ready(function(){
	$('.number').keypress(function(e) {
    		var a = [];
   			var k = e.which;
    
   			for (i = 48; i < 58; i++)
        		a.push(i);
    		a.push(8);
    		if (!(a.indexOf(k)>=0))
        	e.preventDefault();
		});
		
		$('.item').submit(function(event){
			if (confirm('Are you sure?')){
    		}else{
    			event.preventDefault();
    		}		
		});
		
		$('#addItem').submit(function(event){
			event.preventDefault();
			var currency = document.getElementById('currency');
			var qty = document.getElementById('qty');
			var type = document.getElementById('itype');
			var name = document.getElementById('iname');
			var desc = document.getElementById('idesc');
			var loc = document.getElementById('iloc');
			var pattern = /^\d+(?:\.\d{0,2})$/;
			var saveitem = {};
			var exist=false;
			
			saveitem={
				'Type': type.value,
				'Name': name.value,
				'Description': desc.value,
				'Price': currency.value,
				'Quantity': qty.value,
				'Store': loc.value
			};
			
			for(i=0;i<allitem.length;i++){
			
				if((allitem[i].Type == saveitem.Type) && (allitem[i].Name == saveitem.Name) && 
					(allitem[i].Description == saveitem.Description) && (allitem[i].Price == saveitem.Price) && 
						(allitem[i].Store == saveitem.Store)){
						 	exist = true;
						 }
			}

		    if (!pattern.test(currency.value)) 
			{
				alert('Please key in a valid amount');
				currency.focus;
				return false;
			}else if(qty.value>1000 || qty.value<0){
				alert('Please key in a valid quantity\n between 0 to 1000');
				qty.focus;
				return false;
			}else if(exist){
				alert('Item exist\n Please key in another item');
			}else {
				$('#addItem').unbind('submit').submit();
			}
		});
			

	var show_per_page = 4; 

	//how much items per page to show
	var show_per_page = 4; 
	//getting the amount of elements inside content div

	var number_of_items = document.getElementById("itemcontent").getElementsByTagName("FORM").length;
	//calculate the number of pages we are going to have
	var number_of_pages = Math.ceil(number_of_items/show_per_page);

	//set the value of our hidden input fields
	$('#current_page').val(0);
	$('#show_per_page').val(show_per_page);
	

	//create the navi buttons
	var navigation_html = '<a class="previous_link" href="javascript:previous();">Prev</a> &nbsp;|&nbsp;';
	var current_link = 0;
	while(number_of_pages > current_link){
		navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a> &nbsp;|&nbsp;';
		current_link++;
	}
	navigation_html += '<a class="next_link" href="javascript:next();">Next</a>';
	
	$('#page_navigation').html(navigation_html);
	
	//add active_page class to the first page link
	$('#page_navigation .page_link:first').addClass('active_page');
	
	//hide all the elements inside content div
	$('#itemcontent').children().css('display', 'none');
	
	//and show the first n (show_per_page) elements
	$('#itemcontent').children().slice(0, show_per_page).css('display', 'block');


});

function previous(){
	
	new_page = parseInt($('#current_page').val()) - 1;
	//if there is an item before the current active link run the function
	if($('.active_page').prev('.page_link').length==true){
		go_to_page(new_page);
	}
	
}

function next(){
	new_page = parseInt($('#current_page').val()) + 1;
	//if there is an item after the current active link run the function
	if($('.active_page').next('.page_link').length==true){
		go_to_page(new_page);
	}
	
}

function go_to_page(page_num){
	//get the number of items shown per page
	var show_per_page = parseInt($('#show_per_page').val());
	
	//get the element number where to start the slice from
	start_from = page_num * show_per_page;
	
	//get the element number where to end the slice
	end_on = start_from + show_per_page;
	
	//hide all children elements of content div, get specific items and show them
	$('#itemcontent').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');
	
	/*get the page link that has longdesc attribute of the current page and add active_page class to it and remove that class from previously active page link*/
	$('.page_link[longdesc=' + page_num +']').addClass('active_page').siblings('.active_page').removeClass('active_page');
	
	//update the current page input field
	$('#current_page').val(page_num);
}




</script>

{% endblock %}

{% block maincontent %}

<h1>Item Management</h1>
<p id="itempagenav"><a href="#page_navigation">Item List</a>&nbsp;|&nbsp;<a href="#addItem">Add Item</a></p>
<br />
<div class="clr"><img src="/images/Pipes.jpg" width="613" height="193" alt="we offer very affordable and reliable professional service for both residential and industrial customers" /></div>
<br />
{% if items %}
	<h2 id = "itemlist"><strong>List of Items</strong></h2>
    <!-- the input fields that will hold the variables we will use -->
  	<input type="hidden" id="current_page">
  	<input type="hidden" id="show_per_page">
    <div id="page_navigation"></div>
	<br />
	<ul id="itemcontent">
			{% for mainItem in mainItemList %}
				<form class="item" method="post">
				<table width=100% border="1" cellspacing="2" cellpadding="5">
				<tr>
                    <td width=40%><strong>Item Type:</strong></td>
                    <td width=60%>{{ mainItem.0.Type }}</td>
                </tr>
                <tr>
                    <td><strong>Item Name:</strong></td>
                    <td>{{ mainItem.0.Name }}</td>
                </tr>
                <tr>
                    <td><strong>Description:</strong></td>
                    <td>{{ mainItem.0.Description }}</td>
                </tr>
                <tr>
                    <td><strong>Item Price:</strong></td>
                    <td>{{ mainItem.0.Price }}</td>
                </tr>
				<tr>
                    <td><strong>Item Quantity:</strong></td>
                    <td>{{ mainItem.0.Quantity }}</td>
                </tr>
                <tr>
                	<td><strong>Location:</strong></td>
                    <td>{{ mainItem.0.Store }}</td>
                </tr>
                
				<tr>
                	<td></td>
                  <td style= "text-align:center;"><input form action="/editItem" type="submit" value="Edit"><input type="submit" value="Delete"></td>
                </tr>
				<input type="hidden" name="itemKey" value="{{ mainItem.1 }}">
				<input type="hidden" name="location" value="item">
				<input type="hidden" name="deleteitem" value="Yes">
                </table>
                <br />
				</form>
			{% endfor %}
	</ul>
	<p><a href ="#page_navigation">Back to Top</a></p>
{% endif %}
<br />
<br />

<h2><strong>Add Item</strong></h2>
    <form id="addItem" method="post">
    	<table width=80%>
    	<tr>
            <td width=40%><strong>Item Type:</strong></td>
            <td width=60%><input id="itype"type="text" name="itemType" required/></td>
        </tr>
        <tr>
            <td><strong>Item Name:</strong></td>
            <td><input id="iname" type="text" name="itemName" required/></td>
        </tr>
        <tr>
            <td><strong>Item Description:</strong></td>
            <td><input id="idesc" type="text" name="itemDesc" required/></td>
        </tr>
        <tr>
        <td><strong>Item Price(eg. 1.00):</strong></td>
        <td><input id="currency" type="text" name="itemPrice" required="required"/></td>
        </tr>
        <tr>
        <td><strong>Item Quantity:</strong></td>
        <td><input id="qty" class="number" type="number" name="itemQty" min="0" max="1000"required="required"//></td>
        </tr>
        <tr>
        <td><strong>Item Location:</strong></td>
            <td>
                <select id="iloc" name="itemStorage">
                {% if warehouses %}
                    {% for warehouse in warehouses %}
                        <option value="{{ warehouse.Name }}">{{ warehouse.Name }}</option>
                    {% endfor %}
                {% endif %}
                </select>
            </td>
        </tr>

        </table>
        <br>
        <input type="hidden" name="process" value="Add_Item">
        <input type="hidden" name="location" value="item">
        <input type="submit" value="Add Item">
    </form>
    <br />
    <p><a href ="#itempagenav">Back to Top</a></p>
{% endblock %}
