{% extends "main.html" %}

{% block maincontent %}

<h2><strong>Login failed!</strong></h2>

{% if failed %}

Please check your Login ID or password and try again.

{% endif %}

<form class="form" action= "/login" method="POST">
<ol>
    <li>
        <label for="email">Email Address:</label>
        <input type="text" value="{{ email }}" name="email" autofocus/>
        </li>
        <li>
        <label for="password">Password</label>
        <input type="password" name="password"/>
        </li>
        <li>
        <button type="submit" class="btn">Login</button>
        </li>
        <li>
        <a href="/forgot">Forgot password</a>
        </li>
</ol>
</form>

{% endblock %}
