{% extends "main.html" %}

{% block maincontent %}

<h1>Login</h1>

{% if failed %}

    <strong>Login failed!</strong> Check your Login ID/password and try again.

{% endif %}

<form class="form" action= "/login" method="POST">
	<label for="email">Email Address:</label>
	<input type="text" value="{{ email }}" name="email" autofocus/>
	<label for="password">Password</label>
	<input type="password" name="password"/>
	<button type="submit" class="btn">Login</button>
</form>

<a href="/forgot">Forgot password</a>
i think have a arrow pointing <---- to sign in better since will have 2 of this sign in field

{% endblock %}