<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
	<title>{% block title %}Billy ACE Management Information System{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/template/css/style.css">
</head>
<body>
	<div id="header">
		<a href="/"><img src="/images/Logo.png" alt="Logo" /></a>
		<br /><br />
				{% if not user %}
				<a href="/login">Login</a>|
				<a href="/forgot">Forgot password</a>
				{% else %}
				  Logged in as <span style="background-color: OldLace">{{ user.first_name }}</span> | <a href="/logout">Logout</a>
				{% endif %}
				|
				<a href="/">Home</a>
				|
				<a href="/signup">New user</a>
	</div>
	<div id="body">
		<div>
			<ul id="navigation">
				<li class="current">
					<a href="/" class="link1">Home</a>
				</li>
				<li>
					<a href="/surfbase" class="link2">link2</a>
				</li>
				<li>
					<a href="/newsblog" class="link1">link3</a>
				</li>
				<li>
					<a href="/about" class="link2">About</a>
				</li>
				<li>
					<a href="/contact" class="link1">Contact</a>
				</li>
			</ul>
			<div id="home">
				{% block maincontent %}

				{% endblock %}
			</div>
		</div>
	</div>
	<div id="footer">
	<p>
<a href="index.html">Home</a> | <a href="aboutus.html">About Us</a> | <a href="Programs.html">Programmes</a> | <a href="WhatsNew.html">What's New!</a> | <a href="JoinUs.html">Join Us!</a> | <a href="contactUS.html">Contact Us</a>
<br /><br />
EIGHT Infinity &copy; Copyright 2013. All rights reserved.
</p>
	</div>
</body>
</html>
