<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Billy ACE Management Information System{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<a href="/"><img src="images/logo.png" alt="Logo"></a>
		<br /><br />
				{% if not user %}
				<a href="/login">Login</a>|
				<a href="/forgot">Forgot password</a>
				{% else %}
				  Logged in as <span style="background-color: OldLace">{{ user.first_name }}</span> | <a href="/logout">Logout</a>
				{% endif %}
				|
				<a href="/">Home</a>
				|
				<a href="/signup">New user</a>
	</div>
	<div id="body">
		<div>
			<ul id="navigation">
				<li class="current">
					<a href="/" class="link1">Home</a>
				</li>
				<li>
					<a href="/about" class="link2">About</a>
				</li>
				<li>
					<a href="/products" class="link1">Products</a>
				</li>
				<li>
					<a href="/contact" class="link2">Contact</a>
				</li>
			</ul>
			<div id="home">
				{% block maincontent %}

				{% endblock %}
			</div>
		</div>
	</div>
	<div id="footer">
	<p>
<a href="/">Home</a> | <a href="/about">About</a> | <a href="/products">Products</a> | <a href="/contact">Contact</a>
<br /><br />
<img src="Logo.png" width="34px" height="22px"/>EIGHT Infinity &copy; Copyright 2013. All rights reserved.
</p>
	</div>
</body>
</html>
