<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Billy Air-Cond &amp; Elect Engrg | {% block title %}Home{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/template/css/style.css">
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script type="text/javascript" src="/template/javascript/cufon-yui.js"></script>
	<script type="text/javascript" src="/template/javascript/arial.js"></script>
	<script type="text/javascript" src="/template/javascript/cuf_run.js"></script>
	
	
	
	{% block script %}

	

	{% endblock %}
</head>
<body>
<div class="main">
	<div class="header">
		<div class="logo">
			<h1><a href="/"><span>Billy</span></a></h1>
			<small>Air-Conditioning &amp; Electrical Engineering</small>
    	</div>
		<div class="menu_nav">
			<ul>
				<li id="navfirst"><a href="/">Home</a></li>
        		<li id="navsecond"><a href="/about">About Us</a></li>
        		<li id="navthird"><a href="/gallery">Gallery</a></li>
        		<li id="navfourth"><a href="/services">Services</a></li>
        		{% if user.accounType != 'administrator' and user.accounType != 'employee' %}	
        		<li id="navfifth"><a href="/schedulebooking">Booking</a></li>
        		{% endif%}
        		<li id="navsixth"><a href="/contact">Contact Us</a></li>
        	</ul>
		</div>
		<div class="clr"></div>
		<div class="hbg"><img src="/images/header_images.jpg" width="670" height="298" alt="banner" class="fr" />
			<div class="info fl">
				<h3>Quality</h3>
				<h3>performance</h3>
				<h5>for cooling comfort</h5>
			</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>
	
	<div class="content">
		<div class="mainbar">
			<div class="article">
				{% block maincontent %}

				{% endblock %}
			</div>
		</div>
    	<div class="sidebar">
      		<div class="gadget">
      			{% if not user %}
        		<h2 class="star"><span>Login</span></h2>
        		<div class="clr"></div>
        		<ul class="ex_menu">
					<form class="form" action= "/login" method="POST">
						<ol>
							<li>
								<label for="email">Email Address:</label>
								<input type="text" name="email" autofocus />
							</li>
							<li>
								<label for="password">Password:</label>
								<input type="password" name="password" />
							</li>
							<li>
								<button type="submit" class="btn">Login</button>
							</li>
						</ol>
					</form>
				
					<small><a href = "/signup">Register</a> | <a href="/forgot">Forgot password</a></small><br />
					{% if failed %}
        			<strong style="color:red;">Login failed!</strong> <br />Check your Login ID/password and try again.
        			{% endif %}    
        		</ul>
        		{% else %}
        		<h2 class="star"><span>Welcome</span></h2>
        		<div class="clr"></div>
        		<ul class="ex_menu">
        			<li>Logged in as <span style="background-color: OldLace">{{ user.first_name }}</span></li>
        			<li><a href="/logout">Logout</a></li>
        			<li><a href="/setting">Settings</a></li>
        		{% if user.accounType == 'customer' %}	
        			<li><a href="/bookinghistory">Booking History</a></li>
        		{% endif %}
				{% if user.accounType == 'administrator' %}
					<li><a href="/admin/signup">New Employee</a></li>
					<li><a href="/admin/schedule">Schedule</a></li>
					<li><a href="/admin/weeklyschedule">Weekly Schedule</a></li>
					<li><a href="/admin/inventory">Inventory</a></li>
					<li>{{ user.accounType }} Rights</li>
				{% endif %}
				</ul>
				{% endif %}
      		</div>
      		<div class="gadget">
        		<h2 class="star"><span>Sidebar</span> Menu</h2>
        		<div class="clr"></div>
        		<ul class="sb_menu">
          			<li id="navsfirst"><a href="/">Home</a></li>
          			<li id="navssecond"><a href="/about">About Us</a></li>
         			<li id="navsthird"><a href="/gallery">Gallery</a></li>
         	 		<li id="navsfourth"><a href="/services">Services</a></li>
         			<li id="navsfifth"><a href="/schedulebooking">Booking</a></li>
          			<li id="navssixth"><a href="/contact">Contact Us</a></li>
        		</ul>
      		</div>
      		
    	</div>
    	<div class="clr"></div>
    </div>
  <div class="footer">
  	<div class="footer_resize" align=center> 
  		<p class="lf">
      	Sitemap <br />
      	<a href="/">Home</a>&nbsp;|&nbsp;<a href="/about">About Us</a>&nbsp;|&nbsp;<a href="/gallery">Gallery</a>
		&nbsp;|&nbsp;<a href="/services">Services</a>&nbsp;|&nbsp;<a href="/schedulebooking">Booking</a>&nbsp;|&nbsp;<a href="/contact">Contact Us</a>
      	</p>
      	<div class="clr"></div>
    </div>
  </div>
	
</div>
<div align=center><span class="lf">Copyright &copy; 2013 Eight Infinity - All Rights Reserved<br />
Preferred web brower for maximum viewing experience: Google Chrome
</span></div>
</body>
</html>
