{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
<link rel='stylesheet' type='text/css' href='/template/css/jquery.weekcalendar.css' />
<link rel='stylesheet' type='text/css' href='/template/css/calendar.css' />
<script type='text/javascript' src='/template/javascript/jquery.weekcalendar.js'></script>
<script type='text/javascript' src='/template/javascript/calendar.js'></script>
{% endblock %}

{% block maincontent %}
<div id='calendar'></div>
<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
{% endblock %}