{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
<link rel='stylesheet' type='text/css' href='/template/css/jquery.weekcalendar.css' />
<link rel='stylesheet' type='text/css' href='/template/css/calendar.css' />
<script type='text/javascript' src='/template/javascript/jquery.weekcalendar.js'></script>

<script type="text/javascript">
var allEvent=[];
var booking;

function lol(){
console.log(allEvent);
}

user_var = {
	'accounType' : "{{ user.accounType }}",
	'email' : "{{ user.email_address }}"
};

function getUpdates(){
	allEvent=[];
	$.getJSON('/json', function(data){
		for(var i=0; i<data.schedule.length; i++){
			//console.log(data.schedule[i]);
			event = {};
			event['id'] = i+1;
			event['start'] = new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.start);
			event['end'] = new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.end);
			event['title'] = data.schedule[i].content;
			event['readOnly'] = data.schedule[i].readonly;
			event['email'] = data.schedule[i].email;
			event['type'] = data.schedule[i].type; 
			allEvent.push(event);
		}
	});
	
	$("#calendar").hide().fadeIn(1300);
}

function saveBooking(slot){
//save as cache when save is clicked in dialog button 
	booking = {
		'id':slot.id,
		'content': slot.body,
		'day': slot.start.getDate(),
		'month': slot.start.getMonth()+1,
		'year': slot.start.getFullYear(),
		'start': slot.start.getHours(),
		'end': slot.end.getHours()
	}
	console.log(booking);
	$.post("/cacheBooking", booking,function(data){
		alert(data.msg);
		if(data.exist){
			location.reload(true);
			//$("#calendar").weekCalendar("removeEvent", data.id);
		}
	}, "json");
}


$.getJSON('/json', function(data){
	for(var i=0; i<data.schedule.length; i++){
		//console.log(data.schedule[i]);
		event = {};
		event['id'] = i+1;
		event['start'] = new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.start);
		event['end'] = new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.end);
		event['title'] = data.schedule[i].content;
		event['readOnly'] = data.schedule[i].readonly;
		event['email'] = data.schedule[i].email;
		event['type'] = data.schedule[i].type; 
		allEvent.push(event);
	}

	var scriptE = document.createElement("script");
    scriptE.src = "/template/javascript/calendar.js";
    var headElement = document.getElementsByTagName("head").item(0);
    headElement.appendChild(scriptE);
	
});

</script>

{% endblock %}

{% block maincontent %}
<h1>booking</h1>
<div id='calendar'></div>
<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Description: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
	<form action="/scheduleconfirmation" id="bookingForm" method="POST">
	<input type="submit" value="Check Out" />
	</form>
{% endblock %}