{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}

<script type="text/javascript">
var start, end;
$(document).ready(function(){
	$("#prev").click(function(){
		info={
			'task': 'prev',
			'sday': start.getDate(),
			'smonth': start.getMonth(),
			'syear': start.getFullYear(),
			'eday': end.getDate(),
			'emonth': end.getMonth(),
			'eyear': end.getFullYear()
		};
		$.post("/jsonempweeklyschedule",info,function(data){
			if(data!=null) displayResult(data);
		},"json");
	});
	
	$("#next").click(function(){
		info={
			'task': 'next',
			'sday': start.getDate(),
			'smonth': start.getMonth(),
			'syear': start.getFullYear(),
			'eday': end.getDate(),
			'emonth': end.getMonth(),
			'eyear': end.getFullYear()
		};
		$.post("/jsonempweeklyschedule",info,function(data){
		if(data!=null) displayResult(data);
		},"json");
	});
});



$.getJSON('/jsonempweeklyschedule', function(data){
	displayResult(data);
});

function displayResult(data){
	start = new Date(data.jobfrom.year,data.jobfrom.month,data.jobfrom.day);
	end = new Date(data.jobto.year,data.jobto.month,data.jobto.day);
	
	var startdate, enddate;
	var html = '<form class="report">';
	for(var i=0; i<data.report.length; i++){
		html += '<table width=80% border="1" cellspacing="2" cellpadding="5">';
		html += '<tr><td width=40%><strong>Customer Name</strong></td><td width=60%>'+data.report[i].customerInfo.name+'</td></tr>';
		html += '<tr><td><strong>Description</strong></td><td>'+data.report[i].description+'</td></tr>';
		startdate = new Date(data.report[i].date.year,data.report[i].date.month-1,data.report[i].date.day, data.report[i].hour.start).toLocaleString();
		html += '<tr><td><strong>Start Date</strong></td><td>'+ startdate +'</td></tr>';
		enddate = new Date(data.report[i].date.year,data.report[i].date.month-1,data.report[i].date.day, data.report[i].hour.end).toLocaleString();
		html += '<tr><td><strong>End Date</strong></td><td>'+ enddate +'</td></tr>';
		html += '<tr><td><strong>Service Type</strong></td><td>'+data.report[i].servicetype+'</td></tr>';
		html += '<tr><td><strong>Address</strong></td><td>'+data.report[i].customerInfo.address+'</td></tr>';
		html += '<tr><td><strong>Postal Code</strong></td><td>'+data.report[i].postalcode+'</td></tr>';
		html += '<tr><td><strong>Contact Number</strong></td><td>'+data.report[i].customerInfo.contact+'</td></tr>';
		html += '</table><br />';
	}
	html += '</form>';
	
	startdisplay = start.getFullYear() + "-" + start.getMonth() + "-" + start.getDate();
	enddisplay = end.getFullYear() + "-" + end.getMonth() + "-" + end.getDate();

	document.getElementById("dateregion").innerHTML = "Between " + startdisplay + " and " + enddisplay;
	document.getElementById("weeklySchedule").innerHTML = html;
}


</script>

{% endblock %}

{% block maincontent %}
<h1> Upcoming Appointments </h1>
<br />
<div class="clr"></div>
<input type="button" id="prev" value="&nbsp;&lt;&nbsp;previous"></input><input type="button" id="next" value="&nbsp;&gt;&nbsp;next"></input>
<br />
<h2 id="dateregion"></h2>
<br />
<div class="clr"></div>
<div id="weeklySchedule">
	<form>
		<ol id="listSchedule">
			<li>
				<label for="email">Email:</label><span id="semail"></span>
    		</li>
    		<li>
    			<label for="description">Description:</label>
    		</li>
    		<li>
    			<label for="startdate">Start Date:</label>
    		</li>
    		<li>
   			 	<label for="enddate">End Date:</label>
    		</li>
    		<li>
   			 	<label for="servicetype">Service Type:</label>
    		</li>
		</ol>
	</form>
</div>

{% endblock %}