{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/start/jquery-ui.css' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js'></script>
<link rel='stylesheet' type='text/css' href='/template/css/jquery.weekcalendar.css' />
<link rel='stylesheet' type='text/css' href='/template/css/calendar.css' />
<script type='text/javascript' src='/template/javascript/jquery.weekcalendar.js'></script>


<script type="text/javascript">
var allEvent=[];
var clickSubmit = false;
var adminBooking=[];
var selectedBooking;
var booking_quota = 0;

window.onbeforeunload = function(e) {
	if(!clickSubmit){
		e.preventDefault();
		$.post("/removeusercache", user_var).done(function() {
				return 'Leaving this page will clear all unsaved information';
			});
	}
};


setTimeout(function(){
		$.post("/removeusercache", user_var).done(function() {
				alert("Please Book again\n Your Booking session has timed out");
			});
},300000);


user_var = {
	'accounType' : "{{ user.accounType }}",
	'email' : "{{ user.email_address }}",
	'postalcode' : "{{ postalcode }}",
	'description': "{{ description }}",
	'servicetype': "{{ servicetype }}"
};

function getUpdates(){
	allEvent=[];
	$.getJSON('/json', function(data){
		for(var i=0; i<data.schedule.length; i++){
			//console.log(data.schedule[i]);
			event={
				'id': i+1,
				'start': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.start),
				'end': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.end),
				'servicetype': data.schedule[i].servicetype,
				'description': data.schedule[i].description,
				'postalcode': data.schedule[i].postalcode,
				'readOnly': data.schedule[i].readonly,
				'email': data.schedule[i].email,
				'type': data.schedule[i].type
			};
			allEvent.push(event);
		}
	}).done(function(){
		$("#calendar").hide().fadeIn(1300);
		return;
	});
	
}


$.getJSON('/json', function(data){
	for(var i=0; i<data.schedule.length; i++){
		//console.log(data.schedule[i]);
		event={
			'id': i+1,
			'start': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.start),
			'end': new Date(data.schedule[i].date.year,data.schedule[i].date.month-1,data.schedule[i].date.day, data.schedule[i].hour.end),
			'servicetype': data.schedule[i].servicetype,
			'description': data.schedule[i].description,
			'postalcode': data.schedule[i].postalcode,
			'readOnly': data.schedule[i].readonly,
			'email': data.schedule[i].email,
			'type': data.schedule[i].type
			};
				
		if(!event['readOnly']){
			booking_quota++;
			if(booking_quota>1){
				$('#csubmit').attr("disabled","disabled");
			}
		}
		
		allEvent.push(event);
	}
	
	var scriptE = document.createElement("script");
    scriptE.src = "/template/javascript/calendar.js";
    var headElement = document.getElementsByTagName("head").item(0);
    headElement.appendChild(scriptE);
    
    if(user_var.accounType == 'administrator'){
		x = document.getElementsByTagName("input");
		for(i=0;i<x.length;i++){
			x[i].removeAttribute("readonly");
			}
		x = document.getElementsByTagName("textarea");
		for(i=0;i<x.length;i++){
			x[i].removeAttribute("readonly");
			}
	}
});

</script>

{% endblock %}

{% block maincontent %}
<h1>booking</h1>
<div class="clr"></div>
<p>Recommended timeslot is given, please choose another slot if you are not available by clicking on the calendar</p>
<div id='calendar'></div>
<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ol>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label>
					{% if user.accounType == 'administrator' %}
					<select name="start"><option value="">Select Start Time</option></select>
					{% else %}
					<input type="text" name="start" readonly/>
					{% endif %}
				</li>
				<li>
					<label for="end">End Time: </label>
					{% if user.accounType == 'administrator' %}
					<select name="end"><option value="">Select End Time</option></select>
					{% else %}
					<input type="text" name="end" readonly/>
					{% endif %}
				</li>
				{% if user.accounType == 'administrator' %}
				<li>
					<label for="postalcode">Postal Code: </label><input type="text" name="postalcode"/>
				</li>
				<li>
					<label for="email">Email Address: </label><input type="text" name="email"/>
				</li>
				{% endif %}
				<li>
					<label for="servicetype">Service(s) Type: </label><input type="text" name="servicetype" readonly/>
				</li>
				<li>
					<label for="body">Request: </label><textarea name="body" style="width:250px;" readonly></textarea>
				</li>
			</ol>
		</form>
	</div>
	<div>
	{% if user.accounType == 'administrator' %}
	<form action="/empschedule" id="bookingForm" method="POST">
	<input type="submit" value="Add all schedule" />
	</form>
	{% else %}
	<form action="/scheduleconfirmation" id="bookingForm" method="POST">
	<label for="confirmation">Select Preferred booking:</label>
	<input type="radio" id="rBook" name="check" checked="checked">Recommended<input type="radio" name="check">My Preference
	<input type="submit" id="csubmit" value="Check Out" />
	</form>
	<small>*Recommendation will be selected if preference is not created on the calendar*</small>
	{% endif %}
	</div>
{% endblock %}