{% extends "main.html" %}

{% block title %}Schedule Booking{% endblock %}

{% block script %}
<script type="text/javascript">
var count1=0;
var count2=0;
var count3=0;
var count4=0;


$.getJSON('/json', function(data){
	for(var i=0; i<data.schedule.length; i++){
		if(data.schedule[i].type=="query"){
			var servicetype = data.schedule[i].servicetype;
			if(servicetype.indexOf("Basic Servicing")>=0){
				count1++;
			}
			if(servicetype.indexOf("Chemical Washing")>=0){
				count2++;
			}
			if(servicetype.indexOf("Gas")>=0){
				count3++;
			}
			if(servicetype.indexOf("Checking")>=0){
				count4++;
			}
		}

	}
	var html = '<form>';
	html += '<table width=80% border="1" cellspacing="2" cellpadding="5">';
	html += '<tr><td><strong>Type of Services</strong></td><td><strong>Numbers</strong></td></tr>';
	html += '<tr><td width=50%>Basic Servicing</td><td width=50%>'+count1+'</td></tr>';
	html += '<tr><td>Chemical Washing</td><td>'+count2+'</td></tr>';
	html += '<tr><td>Gas</td><td>'+count3+'</td></tr>';
	html += '<tr><td>Checking</td><td>'+count4+'</td></tr>';
	html += '</table><br />';
	html += '</form>';
	
	document.getElementById("popservices").innerHTML = html;
	
});

</script>
{% endblock %}


{% block maincontent %}
<h1> Popular Services </h1>
<br />
<div id="popservices">
</div>
{% endblock %}