{% extends "main.html" %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
		$("#navfourth").addClass("active");
		$("#navsfourth").addClass("active");
})
</script>

{% endblock %}
{% block maincontent %}

<div class="article" id = "servicetop">
	<h2><span><strong>Services</strong></span></h2>
	<p>
	Enjoy cleaner and healthier with the help of our highly experienced technicians to keep your air-conditioner running at its peak condition.
	</p>
	<p>We provide services such as:<br />
	<a href="#servicing">Basic air-conditioning servicing</a>&nbsp;|&nbsp;<a href="#gas">Topping up of gas</a>&nbsp;|&nbsp;<a href="#chemical">Chemical wash</a>&nbsp;|&nbsp;<a href="#checking">Checking</a>&nbsp;|&nbsp;<a href="#installation">Installation</a>
	</p>
	<div class="clr"><img src="images/open_sign.png" width="243" height="174" alt="We're open" /></div>
	<p>
	<strong>OPERATING</strong><br />
	MONDAY to SATURDAY & PUBLIC HOLIDAYS<br />
	9 A.M - 6 P.M
	</p>
	<p>      
		<strong>EXCLUDING</strong><br />
		SUNDAY
	</p>
	<p><a href ="booking.html">Book NOW!</a></p> 
</div>
<div class="article" id = "servicing" >
	<h2><strong>Basic Air-Conditioning Servicing</strong></h2>
	<p>
	-	1 unit for SGD$50<br />
	-	2 or more  units for SGD$30 each<br />
	<br />
	<strong>Service includes:</strong><br />
	-	Vacuuming of fan blower wheels<br />
	-	Cleaning and vacuuming of drain pipe<br />
	-	Cleaning of cover<br />
	-	Cleaning of air filter<br />
	-	Cleaning of indoor evaporator coil<br />
	-	Testing and commission system<br />
	-	Check for noise, problems and safety circuits<br />
	</p>
	<p><small><a href = "#servicetop">Back to top</a></small></p>
</div>
<div class="article" id = "gas">
	<h2><strong>Topping Up Of Gas</strong></h2>
	<p>
	<strong>R22:</strong> 1psi for SGD$1 <br />
	<strong>410S:</strong> 1 psi for SGD$2<br />
	</p>
	<p><small><a href = "#servicetop">Back to top</a></small></p>
</div>
<div class="article" id = "chemical">
	<h2><strong>Chemical Wash</strong></h2>
	<p>
	-	1 fan coil unit for SGD$120 (full pump down and dismantle)<br />
	-	1 condenser unit for SGD$100<br />
	</p>
	<p><small><a href = "#servicetop">Back to top</a></small></p>
	</div>
<div class="article" id = "checking">
	<h2><strong>Checking</strong></h2>
	<p>
	Checking and  troubleshooting SGD$50
	</p>
	<p><small><a href = "#servicetop">Back to top</a></small></p>
</div>
<div class="article" id = "installation">
	<h2><strong>Installation</strong></h2>
	<p>For installation, different system will be charge at different rates depending on the material, quality and the brand of the systems of your choice. Please <a href = "contact.html">contach us</a> by email, SMS or phone for enquires.
	</p>
	<p>
	<strong>-	Wall Mounted Air Conditioning Units</strong><br />
	<img src="images/Wall_Mounted_Air_Conditioning_Units.jpg" width="217" height="98" alt="Wall Mounted Air Conditioning Units" /><br />
	The range of wall mounted reverse cycle split system air conditioners includes inverter and non-inverter models, suitable for single rooms through to larger open plan living areas.
	</p>
	<p>
	<strong>-	Multi Head Split System Air Conditioners</strong><br />
	<img src="images/City_Multi_S_Series.jpg" width="221" height="183" alt="Multi Head Split System Air Conditioners" /><br />
		For greater versatility, multi split system air conditioners feature an innovative design that allows up to 8 indoor units to be connected to a single outdoor unit.
	</p>
	<p>
	<strong>-	Ceiling Mounted Air Conditioners </strong><br />
	<img src="images/Ceiling_cassette_systems.jpg" width="225" height="225" alt="Ceiling cassette systems" /><br />
   		Ceiling cassette systems are an ideal option to air condition rooms where there is no available walls to mount a split system or where there is limited ceiling space for a ducted system. Its whisper quiet operation is ideal for master bedrooms, living rooms and other single room residential or commercial uses. 
	</p>
	<p><small><a href = "#servicetop">Back to top</a></small></p>
</div>

{% endblock %}