{% extends "main.html" %}

{% block title %}Settings{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
		$('#number').keypress(function(e) {
    		var a = [];
   			var k = e.which;
    
   			for (i = 48; i < 58; i++)
        		a.push(i);
    		a.push(8);
    		if (!(a.indexOf(k)>=0))
        	e.preventDefault();
		});
})

</script>

{% endblock %}

{% block maincontent %}

<h1>{{ user.first_name }}'s Personal Settings</h1>
<form action="/setting" method="POST" >
<ol>
	<li>
	<label for="email">You are currently login using this email address:</label>
    <input type="text" name="email" class="text" value = "{{ email }}" readonly />
    </li>
    <li>
    <label for="password">Password:</label>
    <input type="password" name="password" class="text" />
    </li>
    <li>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" value = "{{ firstname }}" class="text" required="required"/>
    </li>
    <li>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" value = "{{ lastname }}" class="text" required="required"/>
    </li>
    <li>
    <label for="contact">Contact Number:</label>
    <input type="text" name="contact" id="number" value = "{{ contact }}" class="text" required="required"/>
    </li>
    <li>
    <label for="address">Address:</label>
    <input type="text" name="address" value = "{{ address }}" class="text" required="required"/>
    </li>
    <li>
    <label for="postalcode">Postcode:</label>
    <input type="text" name="postalcode" id="number" value = "{{ postalcode }}" class="text" required="required"/>
    </li>
    <li>
    <input type="submit" value="Submit Changes"/>
    </li>
</ol>
</form>

{% endblock %}
