{% extends "main.html" %}

{% block title %}Inventory Management{% endblock %}


{% block maincontent %}

<h1>Warehouse</h1>
<br />
<div class="clr"><img src="/images/inventory.jpg" width="613" height="193" alt="we offer very affordable and reliable professional service for both residential and industrial customers" /></div>
<br />
{% if warehouses %}
<b>List of Warehouses</b>
<br />
<table border="1" cellspacing="2" cellpadding="5">
<tr><td><strong>Name</strong></td><td><strong>Location</strong></td><td><strong>Delete</strong></td></tr>
{% for warehouse in mainWarehousesList %}
<form id="warehouse" method="post">
<tr>
<td>{{ warehouse.0.Name }}</td>
<td>{{ warehouse.0.Location }}</td>
<td><input type="submit" value="Delete"></td>
</tr>
<input type="hidden" name="warehouseKey" value="{{ warehouse.1 }}">
<input type="hidden" name="location" value="warehouse">
<input type="hidden" name="delete" value="Yes">
</form>
{% endfor %}
</table>
<br />
{% endif %}

<br /><b>Add Warehouse</b><br />
    <form id="addStorage" method="post">
     <table>
     <tr><td>Warehouse name:</td><td><input type="text" name="warehouseName" required="required"/></td>
        <tr><td>Warehouse location:</td><td><input type="text" name="warehouseLocation" required="required"/></td>
        </table>
        <br />
        <input type="hidden" name="process" value="Add_Warehouse">
        <input type="hidden" name="location" value="warehouse">
        <input type="submit" value="Add Warehouse">
    </form>
    <p><a href ="#">Back to Top</a></p>
{% endblock %}